name: "⚙️ Setup node & dependecies install"
description: "install and cache deps"

inputs:
    node-version:
        required: false
        default: "20"
        description: indicates node version

    cache:
        required: false
        default: "npm"
        description: package manager

    path:
        required: true
        description: path to lock file

runs:
    using: composite
    steps:
        - name: checkout the repo
          uses: actions/checkout@v4

        - name: setup node 20
          uses: actions/setup-node@v4
          with:
              node-version: ${{inputs.node-version}}
              cache: ${{inputs.cache}}
              cache-dependency-path: ${{inputs.path}}

        - name: "install dependencies"
          shell: bash
          run: npm ci
