name: Add label to PR

on:
    issues:
        types:
          - opened
jobs:
    add-label:
        runs-on: ubuntu-latest
        steps:
          - name: Add label to PR
            uses: actions/github-script@v7
            with:
              script: |
                github.rest.issues.addLabels({
                  issue_number: context.issue.number,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  labels: ['bug']
                })
