name: Main orchestrator workflow

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  Orchestrate-API:
    uses: ./.github/workflows/reusable-api-ci.yml
    with:
      node-version: "20"
      package-manager: "npm"
      cache-dependency-path: components/api/package-lock.json
    permissions:
      contents: read
      pull-requests: write

  Orchestrate-Web:
    uses: ./.github/workflows/reusable-web-ci.yml
    with:
      node-version: "20"
      package-manager: "npm"
      cache-dependency-path: components/web/package-lock.json
    permissions:
      contents: read

  orchestrator-core:
    uses: ./.github/workflows/reusable-core-ci.yml
    with:
      node-version: "20"
      package-manager: "npm"
      cache-dependency-path: components/core/package-lock.json
    permissions:
      contents: read
