name: Main orchestrator workflow

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  Orchestrate-API:
    name: "test, build API component"
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: call reusable API CI
        uses: ./.github/workflows/reusable-api-ci.yml
        with:
          node-version: "20"
          package-manager: "npm"
          cache-dependency-path: components/api/package-lock.json
