name: deploy the api container

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read
    packages: write

concurrency:
    group: api-${{github.ref}}
    cancel-in-progress: true

env:
    NODE_VERSION: 20
    PACKAGE_MANAGER: "npm"

jobs:
    API-DEPLOY:
        name: Deploy API to GHCR
        runs-on: ubuntu-latest
        timeout-minutes: 15
        defaults:
            run:
                working-directory: components/api

        steps:
            - name: Checkout the repo
              uses: actions/checkout@v4

            - name: setup Node version 20 and cache dependencies
              uses: actions/node-setup@v4
              with:
                  node-version: ${{env.NODE_VERSION}}
                  cache: ${{env.PACKAGE_MANAGER}}
                  cache-dependency-path: ${{github.workspace}}/components/api/package-lock.json

            - name: setup buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{github.action}}
                  password: ${{secrets.GITHUB_TOKEN}}

            - name: Push API image to GHCR
              uses: docker/build-push-action@v4
              with:
                  context: ${{github.workflow}}/components/api
                  file: components/api/Dockerfile
                  tags: bettaibi/api:latest
