name: Exercise 06 - Push API image to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  group: exercice06-${{ github.ref }}
  cancel-in-progress: true

jobs:
  GHCR-API:
    name: Push API to GHCR
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: components/api

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Setup buildX
        uses: docker/setup-buildx-action@v3

      - name: login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build and push the Image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: components/api
          file: component/api/Dockerfile
          tags: ghcr.io/${{github.repository}}/api
          cache-from: type=gha
          cache-to: type=gha,mode=max
