name: Monorepo workflow

on:
  pull_request:

jobs:
  api-install-build:
    name: Install and build the api component
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "components/api/**/package-lock.json"

      - name: Install API component Dependencies
        working-directory: ${{github.workspace}}/components/api
        run: npm ci

      - name: Build the API component
        working-directory: ${{github.workspace}}/components/api
        run: npm build

  web-install-lint-build:
    name: Install, lint and build web NextJS component
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "components/web/**/package-lock.json"

      - name: Install Project Dependencies
        working-directory: ${{github.workspace}}/components/web
        run: npm ci

      - name: Check lint errors
        working-directory: ${{github.workspace}}/components/web
        run: npm run lint

      - name: Build web component
        working-directory: ${{github.workspace}}/components/web
        run: npm run build

  core-install-build:
    name: Install, and build the Core nodeJS component
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: components/core/package-lock.json

      - name: Install Core Dependencies
        working-directory: ${{github.workspace}}/components/core
        run: npm ci

      - name: Build Core component
        working-directory: ${{github.workspace}}/components/core
        run: npm run build
