name: Exercise 04 Artifacts

on:
  pull_request:

permissions:
  contents: read

env:
  NODE_VERSION: "20"
  NODE_PACKAGE_MANAGER: "npm"

jobs:
  api:
    name: Install and build the api component
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ${{github.workspace}}/components/api

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.NODE_PACKAGE_MANAGER}}
          cache-dependency-path: "components/api/package-lock.json"

      - name: Install API component Dependencies
        run: npm ci

      - name: Build the API component
        run: npm run build

      - name: Upload API build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "api_artifact"
          path: components/api/dist/**

  web:
    name: Install, lint and build web NextJS component
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ${{github.workspace}}/components/web

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.NODE_PACKAGE_MANAGER}}
          cache-dependency-path: "components/web/package-lock.json"

      - name: Install Project Dependencies
        run: npm ci

      - name: Check lint errors
        run: npm run lint

      - name: Build web component
        run: |
          npm run build
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          echo "PWD=$(pwd)"
          ls -ls

      - name: Upload Web Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "web-artifacts"
          path: components/web/.next/**
          if-no-files-found: error

  core:
    name: Install, and build the Core nodeJS component
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ${{github.workspace}}/components/core

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Use node version 20
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.NODE_PACKAGE_MANAGER}}
          cache-dependency-path: components/core/package-lock.json

      - name: Install Core Dependencies
        run: npm ci

      - name: Build Core component
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "core_Artifacts"
          path: components/core/dist/**
