name: Build Core component

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: false
        default: "20"
      package-manager:
        type: string
        required: false
        default: "npm"
      cache-dependency-path:
        type: string
        required: true

permissions:
  contents: read

jobs:
  build-core:
    name: "Build Core"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: components/core

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: use node version 20 / cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.PACKAGE_MANAGER}}
          cache-dependency-path: ${{github.workspace}}/components/core

      - name: Install dependencies
        run: npm ci

      - name: Build Core
        run: npm run build
