name: API, Web and Core workflow

on:
  push:
    branches:
      - main
    paths:
      - components/web/**
  workflow_dispatch:

permissions:
  contents: read

jobs:
  web:
    name: "lint, Build and Install Web dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: components/web

    steps:
      - name: checkout the repo
        uses: actions/checkout@v4

      - name: setup node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: components/web/package-lock.json

      - name: "Install dependencies"
        run: npm ci

      - name: "run lint"
        run: npm run lint

      - name: "run build"
        run: npm run build
