name: API, Web and Core workflow

on:
  workflow_call:

permissions:
  contents: read

jobs:
  web:
    name: "lint, Build and Install Web dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: components/web

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: setup composite setup
        uses: ./.github/workflows/actions/install-and-cache-node-deps
        with:
          path: components/web/package-lock.json
          working-directory: components/web

      - name: "run lint"
        run: npm run lint

      - name: "run build"
        run: npm run build
